# Edit this path to match path on your system
# (actually 300's toolchain path is fixed, but 600's could be installed anywhere)
path_300:=/opt/cross/gcc-3.2.3-glibc-2.2.5/arm-unknown-linux-gnu/arm-unknown-linux-gnu/bin
path_600:=/media/big/sorcery.600/bin/

vars_300:= CC=gcc CXX=g++ GCC=gcc AR=ar STRIP=strip 
pre=arm-none-linux-gnueabi
vars_600:= CC=$(pre)-gcc CXX=$(pre)-g++ GCC=$(pre)-gcc \
	AR=$(pre)-ar STRIP=$(pre)-strip
